body {
  font-family: Tahoma, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #0078ff, #00d4ff); 
  color: white;
  text-align: center;
}

header {
 background: radial-gradient(circle, #ff7e5f, #feb47b);
  color: white;
   box-shadow: 0 4px 6px rgba(0,0,0,0.3);
  padding: 20px 0;
   text-align: center;
}

header nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}

header nav a:hover {
  text-decoration: underline;
}

main .intro {
  padding: 50px 20px;
}

button {
  padding: 10px 20px;
  background-color: #0078ff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

button:hover {
  background-color: #005fcc;
  transform: scale(1.05);  /* slightly bigger */
  transition: 0.3s;
}

footer {
  background-color: #222;
  color: white;
  padding: 15px 0;
  margin-top: 50px;
}
